
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.mess == "2")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Mua khoá học thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}
@{ var userInfomatiom = (HocLapTrinhAspNet.Models.User)Session["USER"];
}
<section class="single-blog-wrap-layout1">

    <section class="single-blog-wrap-layout2">
        <div class="container">
            <div class="single-blog-box-layout2">
                <div class="blog-banner">
                    <img src="~/Content/images/@ViewBag.course.Image" alt="blog" style=" width: 100% !important; height: 450px !important;">
                </div>
                <div class="single-blog-content">
                    <div class="blog-entry-content">
                        <ul class="entry-meta meta-color-dark">

                            <li><i class="fas fa-tag"></i>@ViewBag.course.CourseType.TypeName</li>
                            @if (ViewBag.course.IsFree)
                            {
                                <li><i class="fas fa-calendar-alt"></i>Miễn phí </li>
                            }
                            else
                            {

                        <li><i class="fas fa-calendar-alt"></i>Có phí : @String.Format("{0:#,##0}", ViewBag.course.Price)</li>
                            }

                            <li><i class="far fa-clock"></i>@ViewBag.course.CourseVideos.Count </li>
                        </ul>
                        <h2 class="item-title">@ViewBag.course.CourseName</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-8">
                <div class="single-blog-box-layout1">
                    <div class="blog-details">
                        @Html.Raw(ViewBag.course.Description)
                    </div>

                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">Danh sách Video </h3>
                    </div>
                    @if (ViewBag.course.IsFree)
                    {
                        <div class="widget-latest">
                            <ul class="block-list">
                                @foreach (var item in ViewBag.course.CourseVideos)
                                {
                                    <li class="single-item">
                                        <div class="item-img">
                                            <a href="/Course/Video/@item.CourseVideoId"><img src="~/Content/images/@ViewBag.course.Image" alt="Post" style="width :140px; height: 77px !important"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="item-title">
                                                <a href="/Course/Video/@item.CourseVideoId">
                                                    @item.VideoName
                                                </a>
                                                <br />
                                            </h4>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        if (userInfomatiom == null)
                        {
                            <div style="margin-top:10px">
                                <a class="btn" href="/Authentication/Index" style="display: inline-block; padding: 10px 20px; background-color: black; color: #FFF; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
                                    Vui lòng đăng nhập để mua khóa học
                                </a>
                            </div>
                        }
                        else
                        {
                            var check = new HocLapTrinhAspNet.Repositorys.CourseRepository().checkOrder(userInfomatiom.UserId, ViewBag.course.CourseId);
                            if (check)
                            {
                                <div class="widget-latest">
                                    <ul class="block-list">
                                        @foreach (var item in ViewBag.course.CourseVideos)
                                        {
                                            <li class="single-item">
                                                <div class="item-img">
                                                    <a href="/Course/Video/@item.CourseVideoId"><img src="~/Content/images/@ViewBag.course.Image" alt="Post" style="width :140px; height: 77px !important"></a>
                                                </div>
                                                <div class="item-content">
                                                    <h4 class="item-title">
                                                        <a href="/Course/Video/@item.CourseVideoId">
                                                            @item.VideoName
                                                        </a>
                                                        <br />
                                                    </h4>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div style="margin-top:10px">
                                    <a class="btn" href="/Course/PaymentMoMo/@ViewBag.course.CourseId" style="display: inline-block; padding: 10px 20px; background-color: black; color: #FFF; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
                                        Mua khoá học
                                    </a>
                                </div>
                            }

                        }
                    }
                </div>

            </div>
        </div>
    </div>
</section>

