
@{
    ViewBag.Title = "GetCourseByType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-wrap-layout9">
    <div class="container">
        <div class="section-heading-3">
                <h2>Danh sách khoá học của @ViewBag.Type.TypeName </h2>
        </div>
        @if (ViewBag.courses.Count != 0)
        {
            <div class="row gutters-40 menu-list" id="no-equal-gallery">
                @foreach (var item in ViewBag.courses)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 no-equal-item">
                        <div class="blog-box-layout5">
                            <div class="item-img">
                                <a href="/Course/Detail/@item.CourseId"><img src="~/Content/images/@item.Image" alt="Blog" style=" width: 362px; height: 207px;"></a>
                                <a href="/Course/Detail/@item.CourseId" class="hover-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <ul class="entry-meta meta-color-dark">
                                    <li><i class="fas fa-tag"></i>@item.CourseType.TypeName</li>
                                    @if (item.IsFree)
                                    {
                                        <li><i class="fas fa-calendar-alt"></i>Miễn phí </li>
                                    }
                                    else
                                    {
                                        <li><i class="fas fa-calendar-alt"></i>Có phí</li>
                                    }

                                    <li><i class="far fa-clock"></i>@item.CourseVideos.Count </li>
                                </ul>
                                <h3 class="item-title">
                                    <a href="/Course/Detail/@item.CourseId">
                                        @item.CourseName
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="pagination-layout1">
                <ul>
                    @if (ViewBag.tag > 1)
                    {
                        int b = ViewBag.tag - 1;
                        <li class=""><a href="/Course/GetCourseByType/@ViewBag.Type.CourseTypeId/@b">&lArr;</a></li>
                    }
                    else
                    {
                        <li></li>
                    }

                    @for (var i = 1; i <= ViewBag.pageSize; i++)
                    {
                        if (ViewBag.tag == i)
                        {
                            <li class="active"><a href="/Course/GetCourseByType/@ViewBag.Type.CourseTypeId/@i">@i</a></li>
                        }
                        else
                        {
                            <li class=""><a href="/Course/GetCourseByType/@ViewBag.Type.CourseTypeId/@i">@i</a></li>
                        }

                    }
                    @if (ViewBag.tag < ViewBag.pageSize)
                    {
                        int a = ViewBag.tag + 1;
                        <li class=""><a class="" href="/Course/GetCourseByType/@ViewBag.Type.CourseTypeId/@a">&rArr;</a></li>
                    }
                    else
                    {
                        <li></li>
                    }



                </ul>
            </div>
        }
        else { 
        <p>Danh sách trống </p>}
    </div>
</section>
